main {
    padding-top: 2%;
  }
  
  body {
    background-color: aquamarine;
  }
  
  header {
    background-color: black;
    color: pink;
    text-align: center;
  }
  
  .home {
    padding-right: 2%;
  }
  
  .dashboard {
    padding-right: 2%;
  }
  
  a {
    text-align: center;
    color: black;
    background-color: pink;
  }
  
  .btnLogout {
    background: none;
    border: none;
    text-decoration: none;
    color: whitesmoke;
    font-size: 30px;
  }
  
  a:hover {
    color: orange;
  }
  
  .jumbo-tron {
    color: whitesmoke;
    font-size: 50px;
    text-align: left;
    padding-left: 5%;
    padding-top: 2%;
  }
  
  .container {
    padding-top: 2%;
  }
  
  
  .title {
    background-color: black;
    border-bottom: solid;
    border-color: white;
  }
  
  .content {
    padding-top: 1%;
  }
  
  h2 {
    color: whitesmoke;
  }
  
  h4 {
    color: whitesmoke;
  }
  
  p {
    color: black;
  }
  
  .user {
    color: whitesmoke;
  }
  
  .btn {
    color: black;
    background-color: pink;
  }
  
  textarea {
    height: 150px;
    width: 400px;
  }
  
  .btnDeletePost {
    background: none;
    border: none;
    text-decoration: none;
    color: whitesmoke;
    font-size: 30px;
  }
  
  .btnDeletePost:hover {
    color: orange;
  }